body {
  background-color: var(--background);
  font-family: var(--font-family);
  color: var(--text);
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.theme-list {
  display: flex;
  gap: 15px;
  position: static;
  top: 0;
  left: 45%;
  width: 100px;
}
.theme-item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.section-animation {
  opacity: 0;
  transform: translateY(50px);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
