/* #region theme */

.theme-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 900;
}

.theme-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.theme {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.theme-red {
  background-color: #ed3b44;
}

.theme-red:hover {
  background: radial-gradient(circle, #ed3b44 0%, rgba(2, 0, 36, 0) 100%);
}

.theme-yellow {
  background-color: #c6e327;
}

.theme-yellow:hover {
  background: radial-gradient(circle, #c6e327 0%, rgba(2, 0, 36, 0) 100%);
}

.theme-orange {
  background-color: #ff7f08;
}

.theme-orange:hover {
  background: radial-gradient(circle, #ff7f08 0%, rgba(2, 0, 36, 0) 100%);
}

.theme-green {
  background-color: #2b4441;
}

.theme-green:hover {
  background: radial-gradient(circle, #2b4441 0%, rgba(2, 0, 36, 0) 100%);
}

.theme-blue {
  background-color: #0041e8;
}

.theme-blue:hover {
  background: radial-gradient(circle, #0041e8 0%, rgba(2, 0, 36, 0) 100%);
}

.choose-theme-btn {
  cursor: pointer;
  border: none;
  padding: 5px 0;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--title);
  position: relative;
  transition: background-color (--transition);
  border: 1px solid var(--circle);
  border-radius: 60px;
  padding: 10px;
  display: flex;
}

.choose-theme-btn:hover,
.choose-theme-btn:focus {
  background: radial-gradient(
    circle,
    var(--accent-color) 0%,
    rgba(2, 0, 36, 0) 100%
  );
  color: var(--text);
}

.hidden-btn {
  display: none;
}

@media screen and (min-width: 1440px) {
}
/* #endregion theme */
