.about-me {
  padding-top: 32px;
  padding-bottom: 32px;
}

.about-wrapper {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-text-wrapper {
  min-height: 500px;
  background-color: var(--cards);
  border-radius: 24px;
  padding: 32px;
}

.about-main-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--text);
}

.about-accent-text {
  color: var(--accent-color);
}

.about-grey-text {
  color: var(--title);
}

.about-photo {
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .about-me {
    padding-bottom: 48px;
  }

  .about-wrapper {
    margin-bottom: 64px;
  }

  .about-text-wrapper {
    min-height: 700px;
    padding: 64px;
  }

  .about-main-text {
    font-size: 38px;
    line-height: 1.05;
    letter-spacing: -0.03em;
  }

  .about-photo {
    width: 704px;
    height: 700px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me {
    padding-bottom: 82px;
    padding-top: 48px;
  }

  .about-wrapper {
    margin-bottom: 96px;
    flex-direction: row;
  }

  .about-text-wrapper {
    max-width: 680px;
  }

  .about-photo {
    width: 680px;
  }
}

/* #region Accordion */
.about-me-accordion-container {
  margin-bottom: 32px;
}

#about-ac {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid var(--circle);
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#about-ac:last-child {
  margin-bottom: 0px;
}

#about-ac:first-child #about-ac-text:first-child {
  margin-bottom: 32px;
}

#about-ac-header .ac-trigger {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--title);
  padding: 0;
  padding-bottom: 24px;
}

.about-circle {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid var(--circle);
  border-radius: 100px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.about-circle:hover,
.about-circle:focus {
  background: radial-gradient(
    circle,
    var(--accent-color) 0%,
    rgba(2, 0, 36, 0) 100%
  );
  transition: var(--transition);
}

.about-ac-icon {
  stroke: var(--text);
  fill: transparent;
  transition: var(--transition);
}

#about-ac.is-active .about-ac-icon {
  transform: rotate(180deg);
}

#about-ac-trigger.ac-trigger::after {
  display: none;
}

#about-ac-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--text);
  padding: 0;
  margin-bottom: 10px;
}

#about-ac-text:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .about-me-accordion-container {
    margin-bottom: 64px;
  }

  #about-ac {
    padding-bottom: 32px;
  }

  #about-ac.is-active {
    padding-bottom: 32px;
  }

  .about-circle {
    width: 40px;
    height: 40px;
  }

  #about-ac-header .ac-trigger {
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me-accordion-container {
    margin-bottom: 64px;
  }

  #about-ac {
    margin-bottom: 32px;
    padding-bottom: 32px;
  }

  #about-ac-header .ac-trigger {
    padding-bottom: 24px;
  }

  #about-ac-text {
    max-width: 612px;
    padding: 0;
    margin: 0 68px 10px 694px;
  }

  #about-ac:last-child #about-ac-text {
    max-width: 465px;
  }
}
/* #endregion Accordion */

/* #region Swiper */

.about-me-skills {
  position: relative;
}

.about-skills-swiper {
  width: 260px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 32px;
  overflow: hidden;
  transition: 1000ms cubic-bezier(0.41, 0.6, 0.52, 0.93);
}

.about-skills-swiper .swiper-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.about-skills-swiper .swiper-slide {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--text);
  width: 130px !important;
  height: 130px !important;
  flex-shrink: 0;
  border-radius: 100%;
  border: 1px solid var(--circle);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.about-swiper-button-next {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
  cursor: pointer;
  z-index: 20;
}

.about-skills-swiper .is-first {
  background: radial-gradient(
    circle,
    var(--accent-color) 0%,
    rgba(2, 0, 36, 0) 100%
  );
  transition: var(--transition);
  border: none;
}

.about-swiper-icon {
  fill: none;
  stroke: var(--arrow);
}

@media screen and (min-width: 768px) {
  .about-skills-swiper {
    margin-bottom: 48px;
    width: 600px;
  }

  .about-skills-swiper .swiper-slide {
    font-size: 20px;
    width: 200px !important;
    height: 200px !important;
  }

  .about-swiper-button-next {
    width: 40px;
    height: 40px;
  }

  .about-swiper-icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .about-skills-swiper {
    margin-bottom: 82px;
    width: 1200px;
  }
}

/* #endregion Swiper */

/* #region theme */

.theme-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 900;
}

.theme-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.theme {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.theme-red {
  background-color: #ed3b44;
}

.theme-red:hover {
  background: radial-gradient(circle, #ed3b44 0%, rgba(2, 0, 36, 0) 100%);
}

.theme-yellow {
  background-color: #c6e327;
}

.theme-yellow:hover {
  background: radial-gradient(circle, #c6e327 0%, rgba(2, 0, 36, 0) 100%);
}

.theme-orange {
  background-color: #ff7f08;
}

.theme-orange:hover {
  background: radial-gradient(circle, #ff7f08 0%, rgba(2, 0, 36, 0) 100%);
}

.theme-green {
  background-color: #2b4441;
}

.theme-green:hover {
  background: radial-gradient(circle, #2b4441 0%, rgba(2, 0, 36, 0) 100%);
}

.theme-blue {
  background-color: #0041e8;
}

.theme-blue:hover {
  background: radial-gradient(circle, #0041e8 0%, rgba(2, 0, 36, 0) 100%);
}

.choose-theme-btn {
  cursor: pointer;
  border: none;
  padding: 5px 0;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--title);
  position: relative;
  transition: background-color (--transition);
  border: 1px solid var(--circle);
  border-radius: 60px;
  padding: 10px;
  display: flex;
}

.choose-theme-btn:hover,
.choose-theme-btn:focus {
  background: radial-gradient(
    circle,
    var(--accent-color) 0%,
    rgba(2, 0, 36, 0) 100%
  );
  color: var(--text);
}

.hidden {
  display: none;
}

@media screen and (min-width: 1440px) {
}
/* #endregion theme */
