/* #region Burger button */

.header-burger {
  border: none;
  background-color: transparent;
  width: 34px;
  height: 34px;
  padding: 0;
  position: absolute;
  top: 32px;
  right: 16px;
}

.header-burger-span {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.header-burger-span::before {
  content: '';
  display: flex;
  height: 2px;
  width: 30px;
  background-color: var(--text);
  border-radius: 3px;
  position: absolute;
  top: 10px;
  transition: all 275ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-burger-span::after {
  content: '';
  display: flex;
  height: 2px;
  width: 30px;
  background-color: var(--text);
  border-radius: 3px;
  position: absolute;
  bottom: 10px;
  transition: all 275ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-burger-open .header-burger-span::before {
  transform: rotate(45deg);
  top: 15.5px;
  background-color: var(--background);
}

.header-burger-open .header-burger-span::after {
  transform: rotate(-45deg);
  bottom: 15.5px;
  background-color: var(--background);
}
/* #endregion Burger button */

.header {
  padding-top: 32px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: transparent;
  transition: transform 0.3s ease-in-out;
}

.header.hidden {
  transform: translateY(-100%);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.logo-box {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.logo-img {
  border-radius: 18px;
}
.logo-text {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.4px;
}
.mob-menu-btn {
}

@media screen and (min-width: 768px) {
  .mob-menu-btn {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
}

.desk-menu-box {
  display: flex;
  width: 67px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.desk-menu-btn {
  display: none;
  width: 67px;
  height: 39px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fafafa;
  background: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px; /*! Прибрати? */
  border: none;
  position: relative;
}

.desk-menu-btn::after {
  content: '';
  display: block;
  width: 60%;
  transform: translateX(34%);
  height: 1.5px;
  border-radius: 2px;
  background: #fafafa;
  position: absolute;
  bottom: 10px;
  left: 0;
}

@media screen and (min-width: 768px) {
  .desk-menu-btn {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
}

.desk-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
@media screen and (min-width: 768px) {
  .desk-menu {
    display: flex;
    transition: opacity 0.8s ease;
  }
  .desk-menu:not(.visually-hidden) {
    opacity: 1; /* Налаштуйте за потребою */
  }
}

@media screen and (min-width: 1440px) {
}
.desk-menu-item {
}
.order-btn {
  display: none;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .order-btn {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
}

/* #region modal menu */
.mob-menu-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(270deg, #1c1d20 48%, var(--accent-color) 99.91%);
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.mob-menu-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  position: relative;
}

.mob-menu-item::after {
  content: '';
  display: block;
  width: 100%;
  transform: translateX(0%);
  height: 1px;
  border-radius: 2px;
  background: #fafafa;
  position: absolute;
  left: 0;
}

.mob-order-btn {
  position: absolute;
  bottom: 64px;
  display: flex;
  width: 164px;
  padding: 14px 31px;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: #ed3b44;

  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}

.mob-menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

/* #endregion modal menu */
