.work-together {
  padding-top: 48px;
}
.work-together-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 63px;
}
.footer-img {
  width: 44px;
  height: 44px;
  margin-right: 8px;
  margin-bottom: 4px;
}
.work-together-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--text);
}

.work-together-accent {
  color: var(--accent-color);
}

.work-together-form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.email {
  display: flex;
  color: var(--title);
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--circle);
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--text);
  padding: 0 0 20px;

  height: 44px;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.email::placeholder {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--text2);
}
.email:hover,
.email:focus {
  color: var(--text);
  border-bottom: 1px solid var(--text);
}

.comments {
  color: var(--title);
  background-color: transparent;
  display: flex;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--circle);
  height: 44px;
  outline: none;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--text);
  padding: 0 0 20px;
  margin-bottom: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.comments::placeholder {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--text2);
  padding-bottom: 20px;
}

.comments:hover,
.comments:focus {
  color: var(--text);
  border-bottom: 1px solid var(--text);
}

.work-together-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background-color: var(--accent-color);
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--text);
}

.work-together-button:hover {
  background-color: var(--accent-color-hover);
}

.work-together-nav {
  display: flex;
  margin-bottom: 32px;
}
.work-together-address {
  display: flex;
}
@media screen and (max-width: 374px) {
  .work-together-address {
    flex-wrap: wrap;
    gap: 6px;
  }
}

.work-together-address-email {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--text);
  border: 1px solid var(--circle);
  border-radius: 60px;
  padding: 10px 12px;
  margin-right: 4px;
  transition: var(--transition);
}
.work-together-address-email:hover {
  transition: var(--transition);
  background: radial-gradient(
    circle,
    var(--accent-color) 0%,
    rgba(2, 0, 36, 0) 100%
  );
}

.work-together-address-tel {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--text);
  border: 1px solid var(--circle);
  border-radius: 60px;
  padding: 10px 12px;
}

.work-together-address-tel:hover {
  transition: var(--transition);
  background: radial-gradient(
    circle,
    var(--accent-color) 0%,
    rgba(2, 0, 36, 0) 100%
  );
}

@media screen and (min-width: 768px) {
  .work-together {
    padding-top: 88px;
  }
  .footer-img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    margin-bottom: 7px;
  }

  .work-together-wrapper {
    width: 542px;
    margin-bottom: 64px;
  }

  .work-together-title {
    font-size: 64px;
  }

  .work-together-form {
    margin-bottom: 18px;
  }

  .form {
    flex-direction: row;

    align-items: center;
  }

  .email {
    margin-right: 32px;
    margin-bottom: 32px;
    width: 245px;
  }

  .comments {
    margin-right: 32px;
    width: 245px;
  }

  .work-together-button {
    width: 150px;
    height: 150px;
    margin-top: 0px;
  }

  .work-together-nav {
    display: flex;
    margin-bottom: 169px;
  }

  .work-together-address-email {
    font-size: 16px;
    padding: 18px 32px;
    margin-right: 8px;
  }

  .work-together-address-tel {
    font-size: 16px;
    padding: 18px 32px;
  }
  .email-validation-message {
    padding-bottom: 0;
    padding-top: 0;
    position: absolute;
    left: 0;
    bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container-work-together {
    padding-right: 196px;
    padding-left: 196px;
  }

  .form {
    justify-content: center;
  }

  .email {
    width: 390px;
  }

  .comments {
    margin-right: 86px;
    width: 390px;
  }
}

/* #region validation */

.valid {
  border-bottom: 1px solid #3cbc81;
}

.invalid:focus {
  border-bottom: 1px solid #e74a3b;
}

.valid:focus {
  border-bottom: 1px solid #3cbc81;
}

.invalid {
  border-bottom: 1px solid #e74a3b;
}

.email-validation-message {
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.invalid + .email-validation-message {
  color: #e74a3b;
  padding-top: 4px;
}

.valid + .email-validation-message {
  color: #3cbc81;
  padding-top: 4px;
}

/* #endregion validation */
