:root {
  --font-family: 'Inter Tight', sans-serif;
  --background: #1c1d20;
  --cards: #242527;
  --arrow: #3b3b3b;
  --text: #fafafa;
  --accent-color: #ed3b44;
  --accent-color-hover: #c11921;
  --title: rgba(250, 250, 250, 0.4);
  --text2: rgba(250, 250, 250, 0.6);
  --circle: rgba(250, 250, 250, 0.2);
}
