<section id="about-me" class="about-me section-animation">
  <div class="container">
    <h2 class="visually-hidden">About me</h2>
    <div class="about-wrapper">
      <div class="about-text-wrapper">
        <p class="about-main-text">
          I work with people all over the world to create impressive and
          <span class="about-accent-text">functional</span>
          <span class="about-grey-text">websites</span> that reflect each
          client's unique personality.
        </p>
      </div>
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/about-me/about_me_desktop.webp    1x,
            ./images/about-me/about_me_desktop@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/about-me/about_me_tablet.webp    1x,
            ./images/about-me/about_me_tablet@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/about-me/about_me_mobile.webp    1x,
            ./images/about-me/about_me_mobile@2x.webp 2x
          "
          type="image/webp"
        />
        <img
          src="./images/about-me/about_me_mobile.webp "
          alt="Lloyd jefferson"
          width="343"
          height="500"
          class="about-photo"
          loading="lazy"
        />
      </picture>
    </div>
    <ul class="about-me-accordion-container section-animation"></ul>
    <div class="about-me-skills section-animation">
      <div class="swiper about-skills-swiper">
        <div class="swiper-wrapper"></div>
      </div>
      <div class="about-swiper-button-next">
        <svg class="about-swiper-icon" width="28" height="28">
          <use href="./images/svg/icons.svg#arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
<section class="theme-container">
  <div class="theme-buttons hidden">
    <button
      class="theme theme-red"
      type="button"
      aria-label="theme red"
    ></button>
    <button
      class="theme theme-yellow"
      type="button"
      aria-label="theme yellow"
    ></button>
    <button
      class="theme theme-orange"
      type="button"
      aria-label="theme orange"
    ></button>
    <button
      class="theme theme-green"
      type="button"
      aria-label="theme green"
    ></button>
    <button
      class="theme theme-blue"
      type="button"
      aria-label="theme blue"
    ></button>
  </div>
  <div class="choose-theme-wrapper">
    <button class="choose-theme-btn" type="button" aria-label="choose theme">
      choose theme
    </button>
  </div>
</section>
