<section class="covers section-animation" id="covers">
    <div class="container projects background-circle1">
        <div class="background-circle2">
            <div class="background-circle3">
                <h3 class="covers-title visually-hidden">Covers</h3>
                <div class="marquee">
                    <ul class="marquee__inner">
                        <li class="marquee__line animate line1">
                            <div class="marquee_picture">
                                <picture>
                                    <source media="(min-width: 1440px)" srcset="
                ./images/covers/10_1x.webp 1x,
                ./images/covers/10@2х.webp 2x
              " type="image/webp" width="544" height="314" />
                                    <source media="(min-width: 768px)" srcset="
                ./images/covers/10_1x.webp 1x,
                ./images/covers/10@2х.webp 2x
              " type="image/webp" width="544" height="314" />
                                    <source media="(max-width: 767px)" srcset="
                ./images/covers/10_1x.webp 1x,
                ./images/covers/10@2х.webp 2x
              " type="image/webp" width="282" />
                                    <img class="project-pic" src="./images/covers/10_1x.webp" alt="website" width="282"
                                        height="162" loading="lazy" />
                                </picture>
                            </div>
                        </li>
                        <li class="marquee__line animate line1 ">
                            <div class="marquee_picture">
                                <picture>
                                    <source media="(min-width: 1440px)" srcset="
                                        ./images/covers/11_1x.webp 1x,
                                        ./images/covers/11@2х.webp 2x
                                      " type="image/webp" width="544" height="314" />
                                    <source media="(min-width: 768px)" srcset="
                                        ./images/covers/11_1x.webp 1x,
                                        ./images/covers/11@2х.webp 2x
                                      " type="image/webp" width="544" height="314" />
                                    <source media="(max-width: 767px)" srcset="
                                        ./images/covers/11_1x.webp 1x,
                                        ./images/covers/11@2х.webp 2x
                                      " type="image/webp" width="282" />
                                    <img class="project-pic" src="./images/covers/11_1x.webp" alt="website" width="282"
                                        height="162" loading="lazy" />
                                </picture>
                            </div>
                        </li>
                        <li class="marquee__line animate line1">
                            <div class="marquee_picture">
                                <picture>
                                    <source media="(min-width: 1440px)" srcset="
                                        ./images/covers/12_1x.webp 1x,
                                        ./images/covers/12@2х.webp 2x
                                      " type="image/webp" width="544" height="314" />
                                    <source media="(min-width: 768px)" srcset="
                                        ./images/covers/12_1x.webp 1x,
                                        ./images/covers/12@2х.webp 2x
                                      " type="image/webp" width="544" height="314" />
                                    <source media="(max-width: 767px)" srcset="
                                        ./images/covers/12_1x.webp 1x,
                                        ./images/covers/12@2х.webp 2x
                                      " type="image/webp" width="282" />
                                    <img class="project-pic" src="./images/covers/12_1x.webp" alt="website" width="282"
                                        height="162" loading="lazy" />
                                </picture>
                            </div>
                        </li>
                    </ul>
                    <ul class="marquee__inner">
                        <li class="marquee__line animate line2">
                            <div class="marquee_picture">
                                <picture>
                                    <source media="(min-width: 1440px)" srcset="
                                                                    ./images/covers/7_1x.webp 1x,
                                                                    ./images/covers/7@2х.webp 2x
                                                                  " type="image/webp" width="544" height="314" />
                                    <source media="(min-width: 768px)" srcset="
                                                                    ./images/covers/7_1x.webp 1x,
                                                                    ./images/covers/7@2х.webp 2x
                                                                  " type="image/webp" width="544" height="314" />
                                    <source media="(max-width: 767px)" srcset="
                                                                    ./images/covers/7_1x.webp 1x,
                                                                    ./images/covers/7@2х.webp 2x
                                                                  " type="image/webp" width="282" />
                                    <img class="project-pic" src="./images/covers/7_1x.webp" alt="website" width="282"
                                        height="162" loading="lazy" />
                                </picture>
                            </div>
                        </li>
                        <li class="marquee__line animate line2">
                            <div class="marquee_picture">
                                <picture>
                                    <source media="(min-width: 1440px)" srcset="
                                        ./images/covers/9_1x.webp 1x,
                                        ./images/covers/9@2х.webp 2x
                                      " type="image/webp" width="544" height="314" />
                                    <source media="(min-width: 768px)" srcset="
                                        ./images/covers/9_1x.webp 1x,
                                        ./images/covers/9@2х.webp 2x
                                      " type="image/webp" width="544" height="314" />
                                    <source media="(max-width: 767px)" srcset="
                                        ./images/covers/9_1x.webp 1x,
                                        ./images/covers/9@2х.webp 2x
                                      " type="image/webp" width="282" />
                                    <img class="project-pic" src="./images/covers/9_1x.webp" alt="website" width="282"
                                        height="162" loading="lazy" />
                                </picture>
                            </div>
                        </li>
                        <li class="marquee__line animate line2">
                            <div class="marquee_picture">
                                <picture>
                                    <source media="(min-width: 1440px)" srcset="
                                        ./images/covers/8_1x.webp 1x,
                                        ./images/covers/8@2х.webp 2x
                                      " type="image/webp" width="544" height="314" />
                                    <source media="(min-width: 768px)" srcset="
                                        ./images/covers/8_1x.webp 1x,
                                        ./images/covers/8@2х.webp 2x
                                      " type="image/webp" width="544" height="314" />
                                    <source media="(max-width: 767px)" srcset="
                                        ./images/covers/8_1x.webp 1x,
                                        ./images/covers/8@2х.webp 2x
                                      " type="image/webp" width="282" />
                                    <img class="project-pic" src="./images/covers/8_1x.webp" alt="website" width="282"
                                        height="162" loading="lazy" />
                                </picture>
                            </div>
                        </li>
                        <li class="marquee__line animate line2">
                            <div class="marquee_picture">
                                <picture>
                                    <source media="(min-width: 1440px)" srcset="
                                        ./images/covers/7_1x.webp 1x,
                                        ./images/covers/7@2х.webp 2x
                                      " type="image/webp" width="544" height="314" />
                                    <source media="(min-width: 768px)" srcset="
                                        ./images/covers/7_1x.webp 1x,
                                        ./images/covers/7@2х.webp 2x
                                      " type="image/webp" width="544" height="314" />
                                    <source media="(max-width: 767px)" srcset="
                                        ./images/covers/7_1x.webp 1x,
                                        ./images/covers/7@2х.webp 2x
                                      " type="image/webp" width="282" />
                                    <img class="project-pic" src="./images/covers/7_1x.webp" alt="website" width="282"
                                        height="162" loading="lazy" />
                                </picture>
                            </div>
                        </li>
                    </ul>
                    <ul class="marquee__inner">
                        <li class="marquee__line animate line1">
                            <div class="marquee_picture">
                                <picture>
                                    <source media="(min-width: 1440px)" srcset="
                                        ./images/covers/6_1x.webp 1x,
                                        ./images/covers/6@2х.webp 2x
                                      " type="image/webp" width="544" height="314" />
                                    <source media="(min-width: 768px)" srcset="
                                        ./images/covers/6_1x.webp 1x,
                                        ./images/covers/6@2х.webp 2x
                                      " type="image/webp" width="544" height="314" />
                                    <source media="(max-width: 767px)" srcset="
                                        ./images/covers/6_1x.webp 1x,
                                        ./images/covers/6@2х.webp 2x
                                      " type="image/webp" width="282" />
                                    <img class="project-pic" src="./images/covers/6_1x.webp" alt="website" width="282"
                                        height="162" loading="lazy" />
                                </picture>
                            </div>

                        </li>
                        <li class="marquee__line animate line1">
                            <div class="marquee_picture">
                                <picture>
                                    <source media="(min-width: 1440px)" srcset="
                                        ./images/covers/5_1x.webp 1x,
                                        ./images/covers/5@2х.webp 2x
                                      " type="image/webp" width="544" height="314" />
                                    <source media="(min-width: 768px)" srcset="
                                        ./images/covers/5_1x.webp 1x,
                                        ./images/covers/5@2х.webp 2x
                                      " type="image/webp" width="544" height="314" />
                                    <source media="(max-width: 767px)" srcset="
                                        ./images/covers/5_1x.webp 1x,
                                        ./images/covers/5@2х.webp 2x
                                      " type="image/webp" width="282" />
                                    <img class="project-pic" src="./images/covers/5_1x.webp" alt="website" width="282"
                                        height="162" loading="lazy" />
                                </picture>
                            </div>

                        </li>
                        <li class="marquee__line animate line1">
                            <div class="marquee_picture">
                                <picture>
                                    <source media="(min-width: 1440px)" srcset="
                                        ./images/covers/4_1x.webp 1x,
                                        ./images/covers/4@2х.webp 2x
                                      " type="image/webp" width="544" height="314" />
                                    <source media="(min-width: 768px)" srcset="
                                        ./images/covers/4_1x.webp 1x,
                                        ./images/covers/4@2х.webp 2x
                                      " type="image/webp" width="544" height="314" />
                                    <source media="(max-width: 767px)" srcset="
                                        ./images/covers/4_1x.webp 1x,
                                        ./images/covers/4@2х.webp 2x
                                      " type="image/webp" width="282" />
                                    <img class="project-pic" src="./images/covers/4_1x.webp" alt="website" width="282"
                                        height="162" loading="lazy" />
                                </picture>
                            </div>
                        </li>
                        <li class="marquee__line animate line1">
                            <div class="marquee_picture">
                                <picture>
                                    <source media="(min-width: 1440px)" srcset="
                                                                    ./images/covers/1_1x.webp 1x,
                                                                    ./images/covers/1@2х.webp 2x
                                                                  " type="image/webp" width="544" height="314" />
                                    <source media="(min-width: 768px)" srcset="
                                                                    ./images/covers/1_1x.webp 1x,
                                                                    ./images/covers/1@2х.webp 2x
                                                                  " type="image/webp" width="544" height="314" />
                                    <source media="(max-width: 767px)" srcset="
                                                                    ./images/covers/1_1x.webp 1x,
                                                                    ./images/covers/1@2х.webp 2x
                                                                  " type="image/webp" width="282" />
                                    <img class="project-pic" src="./images/covers/1_1x.webp" alt="website" width="282"
                                        height="162" loading="lazy" />
                                </picture>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>