<section class="header">
  <div class="container header-container">
    <a href="./index.html" class="logo-box">
      <img
        srcset="
          ./images/header/header_logo_img@1x.webp 1x,
          ./images/header/header_logo_img@2x.webp 2x
        "
        src="./images/header/header_logo_img@1x.webp"
        width="80"
        height="80"
        alt="Lloyd Jefferson photo"
        class="logo-img"
      />
      <p class="logo-text">jefferson*</p>
    </a>
    <button class="header-burger" aria-label="mobile menu button">
      <span class="header-burger-span"></span>
    </button>

    <button class="desk-menu-btn" type="button" aria-label="button open menu">
      Menu
    </button>
    <ul class="desk-menu">
      <li class="desk-menu-item"><a href="#about-me">About me</a></li>
      <li class="desk-menu-item"><a href="#benefits">Benefits</a></li>
      <li class="desk-menu-item"><a href="#projects">Projects</a></li>
      <li class="desk-menu-item"><a href="#faq">FAQ</a></li>
    </ul>
  </div>
</section>
