<section class="hero">
  <div class="container">
    <div class="hero-container">
      <h1 class="hero-title">
        Hello. <br />
        I'm Fullstack developer Lloyd Jefferson.
      </h1>
      <ul class="contact-list">
        <li class="contact-item socials">
          <a href="https://www.instagram.com/goitclub/">IG</a>
        </li>
        <li class="contact-item socials">
          <a href="https://www.youtube.com/c/GoIT">FB</a>
        </li>
        <li class="contact-item socials">
          <a href="https://www.facebook.com/goITclub/">YT</a>
        </li>
        <li class="contact-item socials">
          <a href="https://github.com/koleso8/js2team_proj">GH</a>
        </li>
        <li class="contact-item mail">
          <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="rectangle"></div>
  <div class="rectangle"></div>
  <div class="rectangle"></div>
  <div class="rectangle"></div>
  <div class="rectangle"></div>
  <div class="rectangle"></div>
  <div class="rectangle"></div>
  <div class="rectangle"></div>
  <div class="rectangle"></div>
  <div class="rectangle"></div>
  <div class="rectangle"></div>
  <script type="module" src="./js/hero.js"></script>
</section>
