<section class="projects section-animation" id="projects">
  <div class="container">
    <h2 class="projects-title">Projects</h2>
    <div class="projects-wrapper">
      <ul class="projects-cards swiper-wrapper">
        <li class="projects-card">
          <div class="projects-card-desc">
            <ul class="projects-card-skills">
              <li><p class="projects-card-skill">&num;react</p></li>
              <li><p class="projects-card-skill">&num;js</p></li>
              <li><p class="projects-card-skill">&num;node js</p></li>
              <li><p class="projects-card-skill">&num;git</p></li>
            </ul>
            <h4 class="projects-card-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h4>
            <a
              class="projects-card-link"
              href="https://github.com/koleso8/js2team_proj"
              >See project</a
            >
          </div>
          <div class="projects-card-image">
            <img
              class="projects-card-img"
              src="../images/projects/image 2_tab_desk@1x.webp"
              alt=""
            />
          </div>
        </li>
      </ul>
      <div class="projects-navigation">
        <div class="projects-navigation-btn">
          <svg class="projects-navigation-icon" width="24" height="24">
            <use href="../images/svg/icons.svg#arrow-left"></use>
          </svg>
        </div>
        <div class="projects-navigation-btn projects-navigation-next">
          <svg class="projects-navigation-icon" width="24" height="24">
            <use href="../images/svg/icons.svg#arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
