<section class="projects section-animation" id="projects">
  <div class="container">
    <h2 class="projects-title">Projects</h2>
    <div class="projects-wrapper swiper-container">
      <ul class="projects-cards swiper-wrapper"></ul>
      <div class="projects-navigation">
        <div class="projects-navigation-btn swiper-button-prev">
          <svg
            class="projects-navigation-icon icon-prev"
            width="24"
            height="24"
          >
            <use href="./images/svg/icons.svg#arrow-left"></use>
          </svg>
        </div>
        <div class="projects-navigation-btn swiper-button-next">
          <svg
            class="projects-navigation-icon icon-next"
            width="24"
            height="24"
          >
            <use href="./images/svg/icons.svg#arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
