<section id="reviews" class="reviews section-animation">
  <div class="container">
    <h2 class="reviews-title">REVIEWS</h2>
    <div class="swiper reviews-swiper">
      <ul class="reviews-list swiper-wrapper"></ul>

      <div class="reviews-arrow">
        <div class="reviews-swiper-button-prev reviews-btn-accent">
          <svg class="reviews-icon reviews-icon-prev" width="24" height="24">
            <use href="./images/svg/icons.svg#arrow-left"></use>
          </svg>
        </div>

        <div class="reviews-swiper-button-next reviews-btn-accent">
          <svg class="reviews-icon reviews-icon-next" width="24" height="24">
            <use href="./images/svg/icons.svg#arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
