<section class="reviews">
  <div class="container">
    <h2>REVIEWS</h2>
    <div>
      <ul>
        <li>
          <img src="" alt="" />
          <h3>Natalia</h3>
          <p>
            Work with was extraordinary! He turned out to be a very competent
            and responsible specialist. The projects were completed on time and
            the result exceeded my expectations
          </p>
        </li>
        <li>
          <img src="" alt="" />
          <h3>Dmytro</h3>
          <p>
            I have the honor to recommend him as an exceptional professional in
            his field. His knowledge and expertise are undeniable. Cooperation
            with him always brings impressive results.
          </p>
        </li>
        <li>
          <img src="" alt="" />
          <h3>Anna</h3>
          <p>
            The developed project impresses with its quality and efficiency. The
            code is cleanly written and the functionality exceeds expectations.
            Extremely satisfied with the cooperation!
          </p>
        </li>
        <li>
          <img src="" alt="" />
          <h3>Ivetta</h3>
          <p>
            Thanks for the excellent work on the project! His talent and
            professionalism deserve recognition. I recommend it to everyone who
            is looking for an expert in the field of software development.
          </p>
        </li>
      </ul>

      <svg class="" width="" height="">
        <use href=""></use>
      </svg>

      <svg class="" width="" height="">
        <use href=""></use>
      </svg>
    </div>
  </div>
</section>
