<section class="reviews section">
  <div class="container">
    <h2 class="title">REVIEWS</h2>
    <div class="swiper reviews-swiper">
      <ul class="reviews-list swiper-wrapper"></ul>

      <div>
        <button type="button" class="swiper-button-prev disabled-btn">
          <svg class="" width="32" height="32">
            <use href="../images/svg/icons.svg#arrow-left/"></use>
          </svg>
        </button>

        <button type="button" class="swiper-button-next">
          <svg class="" width="32" height="32">
            <use href="../images/svg/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
