<section id="footer" class="work-together">
  <div class="container">
    <h2 class="visually-hidden">work-together</h2>
    <div class="work-together-wrapper">
      <img
        srcset="
          ./images/header/header_logo_img@1x.webp 1x,
          ./images/header/header_logo_img@2x.webp 2x
        "
        class="footer-img"
        src="./images/header/header_logo_img@1x.webp"
        width="70"
        height="70"
        alt="Lloyd Jefferson photo"
        loading="lazy"
      />
      <h3 class="work-together-title">
        LET’S <span class="work-together-accent">WORK</span>
      </h3>

      <h3 class="work-together-title">together</h3>
    </div>

    <div class="work-together-form">
      <form class="form">
        <input
          class="email"
          type="email"
          id="email"
          name="email"
          placeholder="clients@gmail.com"
          autocomplete="email"
          pattern="\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          required
        />

        <input
          class="comments"
          type="text"
          name="comments"
          placeholder="comments"
          required
        />

        <button class="work-together-button" type="submit">Send</button>
      </form>
    </div>

    <div class="work-together-nav">
      <ul class="work-together-address">
        <li class="work-together-address-email">
          <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
        </li>

        <li class="work-together-address-tel">
          <a href="tel:+3801111111111">+380 11 1111 11 11</a>
        </li>
      </ul>
    </div>
  </div>
</section>
