<section>
  <div class="container">
    <div>
      <img src="./im" alt="" />
      <h4>LET’S WORK TOGETHER</h4>
    </div>
    <form class="form">
      <input
        class="email"
        type="email"
        id="email"
        name="email"
        placeholder="clients@gmail.com"
        autocomplete="email"
        pattern="\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        required
      />

      <input
        class="comments"
        type="text"
        name="comments"
        placeholder="comments"
        required
      />

      <button type="submit">Send</button>

      <address>
        <ul>
          <li>
            <a href="mailto:lloydjefferson@gmail.com"
              >lloydjefferson@gmail.com</a
            >
          </li>
          <li>
            <a href="tel:+3801111111111">+380 11 1111 11 11</a>
          </li>
        </ul>
      </address>
    </form>
  </div>
</section>
