@import url('./util/variables.css');
@import url('./base/reset.css');
@import url('./base/common.css');
@import url('./base/container.css');

@import url('./layout/about-me.css');
@import url('./layout/benefits.css');
@import url('./layout/covers.css');
@import url('./layout/faq.css');
@import url('./layout/header.css');
@import url('./layout/hero.css');
@import url('./layout/projects.css');
@import url('./layout/reviews.css');
@import url('./layout/work-together.css');
@import url('./layout/modal.css');

.theme-list {
  display: flex;
  gap: 15px;
  position: static;
  top: 0;
  left: 45%;
  width: 100px;
}
.theme-item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.section-animation {
  opacity: 0;
  transform: translateY(50px);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
